<header id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
    
    <div class="container">
         <div class="row">
            <div class="col-md-12">
                <div class="display-t">
                    
                    <div style="text-align: center;" class="display-tc animate-box" data-animate-effect="fadeIn">
						
						<div class="container col-md-6 left-box">
							<div class="form-group">
								
								<label ng-show="manezes">Manezês</label>
								<label ng-hide="manezes">Português</label>
								
								<md-autocomplete
							    	md-no-cache="true"
							        md-search-text="originalPhrase"
							        md-items="item in findPhrases(originalPhrase)"
							        md-item-text="item.display"
							        md-min-length="2"
							        placeholder="bota aqui o qui tu qué traduzi mô quirido"
							        md-selected-item-change="selectedItemChange(item)"
							    >
							        
							        <md-item-template>
							          	<span md-highlight-text="originalPhrase" md-highlight-flags="^i">{{item.display}}</span>
							        </md-item-template>
							        
							    </md-autocomplete>
							
							
							</div>
						</div>
						
						<div class="container col-md-6 right-box">
							
							<div class="form-group">
								
								<label ng-hide="manezes">Manézês</label>
								<label ng-show="manezes">Português</label>
								
								<div ng-if="!isEditing" class="jumbotron translated-board">
									{{translatedPhrase}}
									<div 
										class="edit-button" 
										ng-show="originalPhrase && translatedPhrase"
										uib-tooltip="Tem uma tradução diferenti? Clica aqui e envia tua sugextão boca-mole!" 
										tooltip-placement="left" 
										tooltip-class="tooltip-color" 
									>
										<a href="" ng-click="edit()">
											<i class="icon-pencil" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							  	
							  	<textarea 
							  		ng-if="isEditing" 
							  		ng-model="translatedPhrase" 
							  		class="form-control" 
							  		rows="5" 
							  		maxlength="200">
							  	</textarea>
							
							</div>
							
							<div class="send-traduction-feedback" ng-if="showSendTraductionsFeedback">
								Obrigado istepô <i class="icon-smile" aria-hidden="true"></i>
							</div>
							
							<div class="action-buttons">
							
						        <button type="button" class="btn btn-primary" ng-click="translate()" ng-disabled="!originalPhrase || originalPhrase.length === 1">
			                    	Traduzí
			                    </button>
			                    
								<button type="button" class="btn btn-primary" ng-click="invert()">
				                 	Invertê Tradução
				                </button>
	
								<button 
									ng-show="isEditing" 
									type="button" 
									class="btn btn-primary" 
									ng-click="sendTraduction()" 
									ng-disabled="(!originalPhrase || !translatedPhrase) || (originalPhrase.toLowerCase() === translatedPhrase.toLowerCase())"
								>
				                	Enviá Sugeshtão
				                </button>
			                
			                </div>
			                
						</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</header>
