<header id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
    
    <div class="container">
         <div class="row">
            <div class="col-md-12">
                <div class="display-t">
                    
                    <div style="text-align: center;" class="display-tc animate-box" data-animate-effect="fadeIn">
						
						<div class="container col-md-6">
							<div class="form-group">
								<label ng-show="manezes">Manezêx</label>
								<label ng-hide="manezes">Portuguêx</label>
							  	<textarea ng-model="originalPhrase" class="form-control" rows="5" maxlength="200" ng-change="cleanSendTraductionsFeedback()"></textarea>
							</div>
						</div>
						
						<div class="container col-md-6">
							
							<div class="form-group">
								<label ng-hide="manezes">Manézêx</label>
								<label ng-show="manezes">Portuguêx</label>
								<div ng-show="!isEditing" class="jumbotron translated-board">
									{{translatedPhrase}}
									<div 
										class="edit-button" 
										ng-show="originalPhrase && translatedPhrase"
										uib-tooltip="Tem uma tradução diferenti? Clica aqui e envia tua sugextão boca-mole!" 
										tooltip-placement="left" 
										tooltip-class="tooltip-color" 
									>
										<a href="" ng-click="edit()">
											<i class="icon-pencil" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							  	<textarea ng-show="isEditing" ng-model="translatedPhrase" class="form-control" rows="5" maxlength="200"></textarea>
							</div>
							
							<div class="send-traduction-feedback" ng-if="showSendTraductionsFeedback">
								Obrigado istepô <i class="icon-smile" aria-hidden="true"></i>
							</div>
							
							<div class="action-buttons">
							
						        <button type="button" class="btn btn-primary" ng-click="translate()" ng-disabled="!originalPhrase || originalPhrase.length === 1">
			                    	Traduzí
			                    </button>
			                    
								<button type="button" class="btn btn-primary" ng-click="invert()">
				                 	Invertê Tradução
				                </button>
	
								<button 
									ng-show="isEditing" 
									type="button" 
									class="btn btn-primary" 
									ng-click="sendTraduction()" 
									ng-disabled="(!originalPhrase || !translatedPhrase) || (originalPhrase.toLowerCase() === translatedPhrase.toLowerCase())"
								>
				                	Enviá Sugextão
				                </button>
			                
			                </div>
			                
						</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</header>
